.container {display: inline-block;
			width=75%;
			background-color: #7F181A;
			color:white;
			height: auto;
			border-radius: 25px;
			padding: 30px;
			text-align: center;
			margin: 0px auto;}
.news {float:left; border:solid; width: 70%; border-color:dimgrey; border-radius: 15px 50px;}
.links {float:right;width: 25%; border-left: 1px solid gray;}
.news ul{list-style-type: none;
			padding: px;}
.news li:before {content: "\2605";
					margin: 1em;}
.news li{text-align: left; color: white;}
.news a:link, .news a:visited {color:darkgray;}
.news a:hover {color:dimgray;}