.menu {background-color:#d61209;
		width:100%;
		left:0;
		right:0;
		position:absolute;
		top:auto;
		margin: 0;
		padding: 0;}

#menu {border:none;
    	border:0px;
    	padding:0px;
		left:0;
		right:0;
		margin: 0 auto;
		width: 100%;
		background-color:#d61209;}

#nav {list-style:none inside;
    	margin:0 auto;
    	padding:0;
    	text-align:center;
		width:100%}

#nav ul{width:100%;}

#nav li {display:block;
    	position:relative;
    	float:left;
    	background:#d61209;
		text-align: center;}

#nav li a {display:block;
    		padding:0;
    		text-decoration:none;
			text-align: center;
    		width:235px; 
    		line-height:35px; 
    		color:black;
    		font-weight: bold;}

#nav a:link, #nav a:visited {color:black;}

#nav a:hover {color: white;}
        
#nav li li a {font-size:80%;}
    
#nav li:hover {background-color: #AB0001;}

#nav ul {position:absolute;
    	padding:0;
    	left:0;
		margin:auto;
    	display:none;}

#nav li:hover ul ul {display:none;}

#nav li:hover ul {display:block;} 

#nav li li:hover ul {display:block; 
    				margin-left:235px; 
    				margin-top:-35px; }